# Process data from HTML

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

read data from HTML page. Pandas will process all tables inside the page and make dataframe for each table and return the list of all dataframes.

In [3]:
dfs = pd.read_html(r'https://en.wikipedia.org/wiki/List_of_cities_by_sunshine_duration')
len(dfs)

7

In [4]:
dfs[0]

    0                                                  1
0 NaN  This article may be too long to read and navig...

In [5]:
dfs[1]

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Ref.
0,Ivory Coast,Gagnoa,183.0,180.0,196.0,188.0,181.0,118.0,97.0,80.0,110.0,155.0,171.0,164.0,1823.0,[2]
1,Ivory Coast,Bouaké,242.0,224.0,219.0,194.0,208.0,145.0,104.0,82.0,115.0,170.0,191.0,198.0,2092.0,[2]
2,Ivory Coast,Abidjan,223.0,223.0,239.0,214.0,205.0,128.0,137.0,125.0,139.0,215.0,224.0,224.0,2296.0,[2]
3,Ivory Coast,Odienné,242.0,220.2,217.3,214.7,248.8,221.8,183.5,174.5,185.4,235.8,252.0,242.6,2638.6,[3]
4,Ivory Coast,Ferké,279.0,249.0,253.0,229.0,251.0,221.0,183.0,151.0,173.0,245.0,261.0,262.0,2757.0,[2]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,Guinea-Bissau,Bissau,248.0,226.0,279.0,270.0,248.0,210.0,186.0,155.0,180.0,217.0,240.0,248.0,2707.0,[72]
107,Equatorial Guinea,Bata,201.5,192.1,173.6,177.0,189.1,147.0,142.6,142.6,114.0,114.7,141.0,186.0,1921.2,[73]
108,Equatorial Guinea,Malabo,148.8,152.5,108.5,120.0,117.8,69.0,46.5,58.9,48.0,68.2,99.0,139.5,1176.7,[74]
109,Namibia,Keetmanshoop,353.0,300.0,312.0,306.0,304.0,287.0,305.0,323.0,319.0,343.0,348.0,348.0,3870.0,?
110,Namibia,Windhoek,288.0,254.0,282.0,273.0,310.0,309.0,326.0,341.0,321.0,319.0,297.0,285.0,3605.0,?

In [6]:
dfs[2]

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Ref.
0,Afghanistan,Kabul,177.2,178.6,204.5,232.5,310.3,353.4,356.8,339.7,303.9,282.6,253.2,182.4,3175.1,?
1,Azerbaijan,Baku,89.9,89.0,124.0,195.0,257.3,294.0,313.1,282.1,222.0,145.7,93.0,102.3,2207.4,?
2,Bangladesh,Dhaka,279.0,226.0,217.0,180.0,155.0,90.0,62.0,62.0,90.0,186.0,240.0,279.0,2066.0,?
3,China,Beijing,194.1,194.7,231.8,251.9,283.4,261.4,212.4,220.9,232.1,222.1,185.3,180.7,2670.8,?
4,China,Chongqing,48.0,56.0,81.0,111.0,139.0,128.0,221.0,222.0,123.0,63.0,47.0,54.0,1293.0,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Uzbekistan,Tashkent,117.8,127.1,164.3,216.0,303.8,363.0,384.4,365.8,300.0,226.3,150.0,105.4,2823.9,[102]
69,Vietnam,Da Lat,255.0,234.0,255.0,202.0,190.0,147.0,157.0,136.0,133.0,140.0,172.0,215.0,2238.0,[103]
70,Vietnam,Da Nang,139.0,145.0,188.0,209.0,246.0,239.0,253.0,218.0,176.0,145.0,120.0,103.0,2182.0,[103]
71,Vietnam,Hanoi,74.0,47.0,47.0,90.0,183.0,172.0,195.0,174.0,176.0,167.0,137.0,124.0,1585.0,[103]
72,Vietnam,Ho Chi Minh City,245.0,246.0,272.0,239.0,195.0,171.0,180.0,172.0,162.0,182.0,200.0,226.0,2489.0,[103]

In [7]:
dfs[3]

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Ref.,Unnamed: 16
0,Albania,Tirana,124.0,125.0,165.0,191.0,263.0,298.0,354.0,327.0,264.0,218.0,127.0,88.0,2544.0,NaN,NaN
1,Armenia,Yerevan,93.0,108.0,162.0,177.0,242.0,297.0,343.0,332.0,278.0,212.0,138.0,92.0,2474.0,NaN,NaN
2,Austria,Vienna,66.0,106.0,128.0,183.0,239.0,228.0,260.0,251.0,168.0,139.0,66.0,51.0,1884.0,[104],NaN
3,Belarus,Minsk,34.0,72.0,133.0,185.0,270.0,267.0,271.0,251.0,154.0,103.0,39.0,28.0,1807.0,[105],NaN
4,Belgium,Brussels,59.0,77.0,114.0,159.0,191.0,188.0,201.0,190.0,143.0,113.0,66.0,45.0,1546.0,[106],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Switzerland,Zurich,48.0,77.0,125.0,159.0,186.0,204.0,230.0,208.0,151.0,93.0,50.0,35.0,1566.0,[152],NaN
63,Turkey,Istanbul,71.0,88.0,133.0,180.0,251.0,300.0,322.0,295.0,243.0,164.0,102.0,68.0,2218.0,[153],NaN
64,Ukraine,Kyiv,31.0,57.0,124.0,180.0,279.0,270.0,310.0,248.0,210.0,155.0,60.0,31.0,1955.0,[154],NaN
65,United Kingdom,Edinburgh,54.0,79.0,115.0,145.0,188.0,166.0,172.0,162.0,129.0,101.0,71.0,46.0,1427.0,[155],NaN
66,United Kingdom,London,62.0,78.0,115.0,169.0,199.0,204.0,212.0,205.0,149.0,117.0,73.0,52.0,1633.0,[156],NaN

In [8]:
dfs[3]=dfs[3].drop('Unnamed: 16', axis=1)
dfs[3]

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Ref.
0,Albania,Tirana,124.0,125.0,165.0,191.0,263.0,298.0,354.0,327.0,264.0,218.0,127.0,88.0,2544.0,NaN
1,Armenia,Yerevan,93.0,108.0,162.0,177.0,242.0,297.0,343.0,332.0,278.0,212.0,138.0,92.0,2474.0,NaN
2,Austria,Vienna,66.0,106.0,128.0,183.0,239.0,228.0,260.0,251.0,168.0,139.0,66.0,51.0,1884.0,[104]
3,Belarus,Minsk,34.0,72.0,133.0,185.0,270.0,267.0,271.0,251.0,154.0,103.0,39.0,28.0,1807.0,[105]
4,Belgium,Brussels,59.0,77.0,114.0,159.0,191.0,188.0,201.0,190.0,143.0,113.0,66.0,45.0,1546.0,[106]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Switzerland,Zurich,48.0,77.0,125.0,159.0,186.0,204.0,230.0,208.0,151.0,93.0,50.0,35.0,1566.0,[152]
63,Turkey,Istanbul,71.0,88.0,133.0,180.0,251.0,300.0,322.0,295.0,243.0,164.0,102.0,68.0,2218.0,[153]
64,Ukraine,Kyiv,31.0,57.0,124.0,180.0,279.0,270.0,310.0,248.0,210.0,155.0,60.0,31.0,1955.0,[154]
65,United Kingdom,Edinburgh,54.0,79.0,115.0,145.0,188.0,166.0,172.0,162.0,129.0,101.0,71.0,46.0,1427.0,[155]
66,United Kingdom,London,62.0,78.0,115.0,169.0,199.0,204.0,212.0,205.0,149.0,117.0,73.0,52.0,1633.0,[156]

In [9]:
dfs[4]

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Ref.
0,Canada,Calgary,119.5,144.6,177.2,220.2,249.4,269.9,314.1,284.0,207.0,175.4,121.1,114.0,2396.3,[157]
1,Canada,Churchill,79.7,117.7,177.8,198.2,197.0,243.0,281.7,225.9,112.0,58.1,55.3,53.1,1799.5,[158]
2,Canada,Edmonton,100.8,121.7,176.3,244.2,279.9,285.9,307.5,282.3,192.7,170.8,98.4,84.5,2344.8,[159]
3,Canada,Iqaluit,32.4,94.0,172.2,216.5,180.5,200.2,236.8,156.8,87.9,51.4,35.6,12.6,1476.8,[160]
4,Canada,Montreal,101.0,128.0,164.0,178.0,229.0,240.0,272.0,246.0,182.0,144.0,84.0,84.0,2051.0,[161]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,United States,Tulsa,175.8,171.7,219.6,244.4,266.7,294.8,334.7,305.3,232.5,218.6,161.1,160.8,2786.0,?
69,United States,Virginia Beach,171.5,175.2,229.3,252.8,271.7,280.1,278.3,260.4,231.4,208.3,175.7,160.4,2695.1,?
70,United States,"Washington,D.C.",144.6,151.8,204.0,228.2,260.5,283.2,280.5,263.1,225.0,203.6,150.2,133.0,2527.7,?
71,United States,Wichita,190.9,186.4,230.4,257.8,289.8,305.0,342.1,309.2,245.6,226.3,170.2,168.7,2922.4,?
72,United States,Yuma,268.4,270.8,335.5,365.5,407.4,415.4,392.6,375.6,341.7,319.6,270.1,252.7,4015.3,[175]

In [10]:
dfs[5]

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Ref.
0,Argentina,Buenos Aires,279.0,240.8,229.0,220.0,173.6,132.0,142.6,173.6,189.0,227.0,252.0,266.6,2525.2,?
1,Argentina,Córdoba,257.3,229.6,204.6,189.0,170.5,150.0,170.5,204.6,213.0,238.7,255.0,251.1,2533.9,[176]
2,Argentina,La Plata,251.1,229.6,210.8,186.0,155.0,120.0,127.1,161.2,171.0,207.7,225.0,238.7,2283.2,[177]
3,Argentina,Mendoza,297.6,257.6,235.6,219.0,195.3,168.0,182.9,229.4,225.0,282.1,294.0,285.2,2871.7,?
4,Argentina,Salta,164.3,134.4,105.4,117.0,136.4,120.0,173.6,195.3,162.0,182.9,171.0,164.3,1826.6,?
5,Argentina,Ushuaia,180.2,150.4,124.9,92.7,78.0,50.3,35.0,58.3,87.6,113.0,140.0,170.8,1281.2,?
6,Bolivia,La Paz,182.9,152.6,148.8,165.0,222.7,240.0,235.6,217.0,189.0,179.8,171.0,186.0,2288.9,?
7,Brazil,Belém,130.3,103.1,111.1,132.8,186.7,228.7,250.8,266.4,242.4,231.8,191.7,159.1,2234.9,[178]
8,Brazil,Belo Horizonte,176.0,190.8,194.9,210.7,221.2,229.9,240.5,241.5,202.5,196.5,166.9,153.3,2424.7,[178]
9,Brazil,Brasília,150.9,158.9,166.5,204.6,239.5,254.3,268.9,264.4,210.5,183.1,139.9,126.8,2368.3,[178]
10,Brazil,Curitiba,160.5,151.3,163.1,155.5,148.8,141.3,162.1,173.0,124.3,136.7,163.5,164.7,1844.8,[178]
11,Brazil,Fortaleza,222.0,181.2,157.0,147.1,201.3,215.5,259.4,288.3,284.4,294.1,288.5,265.4,2804.2,[178]
12,Brazil,Manaus,112.7,93.4,95.8,107.3,144.2,186.8,218.5,215.7,183.8,158.1,140.0,118.5,1774.8,[178]
13,Brazil,Porto Alegre,227.2,195.2,202.4,166.0,146.9,115.6,131.4,145.3,145.8,178.0,215.2,232.4,2101.4,[178]
14,Brazil,Rio de Janeiro,194.3,199.8,189.3,194.0,190.0,202.1,196.0,199.7,135.7,156.0,163.7,166.7,2187.3,[178]
15,Brazil,Recife,233.0,210.5,227.6,198.3,186.0,161.1,175.2,195.2,215.6,242.6,245.4,246.0,2536.5,[178]
16,Brazil,Salvador,246.9,215.0,227.2,194.1,165.8,147.8,169.1,189.1,211.4,235.5,210.9,230.2,2443.0,[178]
17,Brazil,São Paulo,139.1,153.5,161.6,169.3,167.6,160.0,169.0,173.1,144.5,157.9,152.8,145.1,1893.5,[178]
18,Chile,Antofagasta,319.3,291.0,294.5,252.0,229.4,207.0,204.6,213.9,219.0,260.4,276.0,310.0,3077.1,?
19,Chile,Calama,353.4,305.1,319.3,312.0,306.9,297.0,310.0,316.2,321.0,356.5,363.0,365.8,3926.2,[179]
20,Chile,Concepción,341.0,278.0,255.0,191.0,133.0,114.0,129.0,162.0,197.0,254.0,296.0,331.0,2681.0,?
21,Chile,Santiago,362.7,302.3,272.8,201.0,155.0,120.0,145.7,161.2,186.0,248.0,306.0,347.2,2807.9,?
22,Chile,Valdivia,257.3,228.8,204.6,123.0,68.2,45.0,65.1,89.9,111.0,127.1,189.0,207.7,1716.7,?
23,Colombia,Barranquilla,283.0,245.0,241.0,211.0,187.0,194.0,217.0,208.0,166.0,167.0,191.0,252.0,2561.0,?
24,Colombia,Bogotá,156.0,128.0,107.0,88.0,83.0,94.0,114.0,117.0,109.0,96.0,103.0,138.0,1328.0,?
25,Colombia,Cali,183.0,155.8,166.5,139.0,147.1,153.1,189.9,175.1,157.4,151.1,153.8,170.1,1941.9,[180]
26,Colombia,Medellín,175.5,149.0,154.2,127.9,138.9,173.0,203.2,191.6,153.4,132.9,136.4,156.2,1892.2,[181]
27,Ecuador,Guayaquil,102.3,101.7,139.5,150.0,167.4,123.0,127.1,133.3,144.0,136.4,120.0,136.4,1581.1,?
28,Ecuador,Quito,197.0,140.0,122.0,136.0,164.0,189.0,249.0,256.0,196.0,177.0,197.0,215.0,2238.0,?
29,Falkland Islands,Stanley,198.0,161.0,169.0,115.0,77.0,57.0,69.0,90.0,128.0,189.0,200.0,198.0,1651.0,?
30,French Guiana,Cayenne,94.3,89.9,119.0,118.1,118.8,148.6,196.5,229.8,255.2,251.1,217.3,137.5,1976.0,?
31,Guyana,Georgetown,201.0,208.6,219.7,197.9,178.8,156.7,201.6,233.7,229.8,235.3,210.9,186.6,2460.6,?
32,Paraguay,Asunción,276.0,246.0,254.0,228.0,205.0,165.0,195.0,223.0,204.0,242.0,270.0,295.0,2803.0,?
33,Peru,Arequipa,223.2,189.3,244.9,294.0,288.3,291.0,291.4,310.0,297.0,303.8,309.0,291.4,3333.3,?
34,Peru,Lima,179.1,169.0,139.2,184.0,116.4,50.6,28.6,32.3,37.3,65.3,89.0,139.2,1230.0,?
35,Uruguay,Montevideo,294.9,230.6,222.8,179.6,164.2,129.7,139.7,164.4,182.3,239.0,248.9,285.3,2481.4,?
36,Venezuela,Caracas,229.4,217.5,235.6,183.0,182.9,183.0,210.8,217.0,213.0,210.8,210.0,213.9,2506.9,?
37,Venezuela,Maracaibo,300.0,279.0,286.0,257.0,243.0,253.0,301.0,279.0,272.5,283.0,258.0,273.0,3284.2,?
38,Venezuela,Ciudad Bolivar,248.0,235.2,263.5,234.0,226.3,201.0,232.5,248.0,252.0,260.4,249.0,244.9,2894.8,[citation needed]

In [11]:
dfs[6]

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Ref.
0,Australia,Adelaide,325.5,285.3,266.6,219.0,167.4,138.0,148.8,186.0,204.0,257.3,273.0,294.5,2765.4,?
1,Australia,Alice Springs,306.0,276.8,300.7,285.0,263.5,252.0,282.1,306.9,300.0,313.1,303.0,310.0,3499.1,?
2,Australia,Brisbane,263.5,223.2,232.5,234.0,235.6,198.0,238.7,266.6,270.0,275.9,270.0,265.4,2968.4,?
3,Australia,Canberra,294.5,254.3,251.1,219.0,186.0,156.0,179.8,217.0,231.0,266.6,267.0,291.4,2813.7,?
4,Australia,Darwin,176.7,162.4,210.8,261.0,297.6,297.0,313.1,319.3,297.0,291.4,252.0,213.9,3092.2,?
5,Australia,Hobart,257.3,226.0,210.8,177.0,148.8,132.0,151.9,179.8,195.3,232.5,234.0,248.0,2393.1,[182]
6,Australia,Melbourne,266.6,228.8,223.2,186.0,142.6,120.0,136.4,164.3,183.0,223.2,225.0,263.5,2362.6,?
7,Australia,Perth,356.5,314.9,295.5,246.0,211.7,180.6,188.4,219.8,232.4,299.8,320.4,359.4,3229.5,?
8,Australia,Sydney,220.1,189.3,198.4,192.0,182.9,165.0,198.4,213.0,223.2,216.0,241.8,228.0,2468.1,[183]
9,Fiji,Suva,192.2,178.0,170.5,153.0,145.7,141.0,136.4,142.6,135.0,164.3,168.0,195.3,1922.0,[184]
10,New Zealand,Auckland,228.8,194.9,189.2,157.3,139.8,110.3,128.1,142.9,148.6,178.1,188.1,197.2,2003.1,?
11,New Zealand,Christchurch,224.4,190.5,177.4,155.6,133.3,117.7,124.8,149.0,166.6,201.3,215.3,214.3,2070.2,?
12,New Zealand,Wellington,240.3,205.0,194.7,153.8,126.0,102.3,111.4,137.2,163.2,191.1,210.8,222.9,2058.7,?
13,New Zealand,Dunedin,179.6,158.0,146.1,125.9,108.4,95.3,110.6,122.2,136.8,165.5,166.9,168.3,1683.7,[185]
14,Papua New Guinea,Port Moresby,182.0,158.0,184.0,200.0,211.0,200.0,203.0,222.0,213.0,231.0,243.0,216.0,2463.0,NaN
15,Solomon Islands,Honiara,186.0,155.4,198.4,192.0,210.8,198.0,186.0,204.6,192.0,226.3,216.0,164.3,2330.0,NaN

We can concat all the useful data into one dataframe and use it.

In [12]:
df = pd.concat(dfs[1:],axis=0,keys=['Africa', 'Asia', 'Europe', 'North America', 'South America', 'Oceania'])
df

                     Country          City    Jan    Feb    Mar    Apr    May  \
Africa  0        Ivory Coast        Gagnoa  183.0  180.0  196.0  188.0  181.0
        1        Ivory Coast        Bouaké  242.0  224.0  219.0  194.0  208.0
        2        Ivory Coast       Abidjan  223.0  223.0  239.0  214.0  205.0
        3        Ivory Coast       Odienné  242.0  220.2  217.3  214.7  248.8
        4        Ivory Coast         Ferké  279.0  249.0  253.0  229.0  251.0
...                      ...           ...    ...    ...    ...    ...    ...
Oceania 11       New Zealand  Christchurch  224.4  190.5  177.4  155.6  133.3
        12       New Zealand    Wellington  240.3  205.0  194.7  153.8  126.0
        13       New Zealand       Dunedin  179.6  158.0  146.1  125.9  108.4
        14  Papua New Guinea  Port Moresby  182.0  158.0  184.0  200.0  211.0
        15   Solomon Islands       Honiara  186.0  155.4  198.4  192.0  210.8

              Jun    Jul    Aug    Sep    Oct    Nov    Dec    Year   Ref.
Africa  0   118.0   97.0   80.0  110.0  155.0  171.0  164.0  1823.0    [2]
        1   145.0  104.0   82.0  115.0  170.0  191.0  198.0  2092.0    [2]
        2   128.0  137.0  125.0  139.0  215.0  224.0  224.0  2296.0    [2]
        3   221.8  183.5  174.5  185.4  235.8  252.0  242.6  2638.6    [3]
        4   221.0  183.0  151.0  173.0  245.0  261.0  262.0  2757.0    [2]
...           ...    ...    ...    ...    ...    ...    ...     ...    ...
Oceania 11  117.7  124.8  149.0  166.6  201.3  215.3  214.3  2070.2      ?
        12  102.3  111.4  137.2  163.2  191.1  210.8  222.9  2058.7      ?
        13   95.3  110.6  122.2  136.8  165.5  166.9  168.3  1683.7  [185]
        14  200.0  203.0  222.0  213.0  231.0  243.0  216.0  2463.0    NaN
        15  198.0  186.0  204.6  192.0  226.3  216.0  164.3  2330.0    NaN

[379 rows x 16 columns]

In [13]:
def save_df_html(html_file, df):
    s = ['<HTML><HEAD><TITLE>']
    s.append('My DataFrame')
    s.append('</TITLE></HEAD><BODY>')
    s.append(df.to_html())
    s.append('</BODY></HTML>')
    html = ''.join(s)
    with open(html_file,'w',encoding='utf-8') as f:
        f.write(html)
    return

save_df_html('sunshine_data.html',df)